/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #C0FFC2;
  }
  
  body {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* || typography */

  .main-font {
    font-family: 'Flamenco', cursive;
    color: black;
  }

  ol li {
    font-family: 'Cinzel Decorative', cursive;
    color: black;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  p, ul li {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px yellow;
  }
  
  h2 {
    font-size: 3rem;
    text-align: left;
  }

  

  /* || header layout */
  
  header {
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    background-color: #FF987D;
    padding: 1%;
  }

  main p span, aside, section {
    background-color: #87CCF5;
    padding: 2%;
    flex-flow: row wrap;
    
  }
  
  h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  header img {
    display: block;
    height: 60px;
    padding-top: 15px;
  }
  

  /* || main layout */
  
  main {
    display: flex;
  }
  
  article, section {
    flex: 4;

    max-width: 100%;
  }
  
  article img {
    display: block;
    padding-block: 15px;
    max-width: 45%;

  }

  aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
  }

