html, body {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 10px;
    background-color: #FFBF8A;
  }

 body {
   margin: 0 auto;
 }

.header {
    background-color: #7C76F5;
    color: white;
    text-shadow: 2px 2px black;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-bottom: 15px;
    width: 100;
    padding: 1%;
    text-align: center;
    font-size: 3.5rem;
    min-width: 960px;
    
}




.wrapper {
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 960px;
}

.content {
  padding: 2%;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  min-width: 960px
  
}
 
.body-color {
  background-color: #F2F6C3;
  padding: 2%;
}

.picture-caption {
  display: block;
  height: 60px;
  padding-right: 15px;
}

.picture {
  display: block;
  padding-right: 15px;
  max-width: 66%;
}

.description {
  flex-wrap: wrap
}




.main-font {
  font-family: 'Flamenco', cursive;
  font-weight: bold;

}

ol li {
  font-family: 'Cinzel Decorative', cursive;
  color: black;
  font-size: 1.8rem;

}

p, ul li, i {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-size: 1.5rem;
}