html, body {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 10px;
    background-color: #FFBF8A;
  }

 body {
   margin: 0 auto;
 }

.header {
    background-color: #7C76F5;
    color: white;
    text-shadow: 4px 4px red;
    
    display: flex;
    justify-content: space-around;

    margin-bottom: 15px;
    padding: 1%;
    font-size: 3.5rem;
    min-width: 960px;
}




.wrapper {
  flex-wrap: nowrap;
  min-height: 960px;
}

.content {
  display: flex;
  justify-content: center;
  min-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
}
 
.body-color {
  background-color: #F2F6C3;
  padding: 2%;
}

.picture-caption {
  display: block;
  flex-grow: 1;
}

.picture {
  display: block;
  max-width: 66%;
}

.description {
flex-grow: 2;
}

.border {
  border-width: 1px; 
  border-style: solid;
  border-radius: 4px;
} 



.main-font {
  font-family: 'Flamenco', cursive;
}

.font-size {
  font-size: 3rem;
  font-weight: bold;


}

ol li {
  font-family: 'Cinzel Decorative', cursive;
  color: black;
  font-size: 1.8rem;

}

p, ul li, i {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-size: 1.5rem;
}